@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Prompt&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* topbar */

.backgroundimg {
    background-image: url(profile.jpg);
    height: 900px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.backgroundimg h1 {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
}

.backgroundimg li {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.backgroundimg .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu_active {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 14%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 7%;
}

.menu ul a {
    text-decoration: none;
}

.menu ul li:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
    transition: 0.4s;
}

.backgroundimg .name {
    position: absolute;
    right: 0;
    top: 45%;
    text-align: right;
    margin-right: 2%;
}

.name h1 {
    font-size: 65px;
}

.name .icon {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    margin-left: 70%;
    color: azure;
    font-size: 45px;
    margin-top: 2%;
}

.fab {
    text-decoration: none;
    color: rgb(222, 222, 223);
}

.fa-instagram {
    margin-left: 15%;
}

.icon a:hover:nth-child(1) {
    color: rgb(43, 126, 250);
    cursor: pointer;
    transition: 0.6s;
}

.icon a:hover:nth-child(2) {
    background: linear-gradient(210deg, rgb(185, 13, 253), rgb(255, 169, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.6s;
}


/* final topbar */


/* hobby */

.hobby {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 600px;
}

.hobby h1 {
    font-size: 100px;
    color: #D5D5C9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
}

.hobo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    color: rgb(77, 77, 77);
    font-size: 150px;
}

.youtube {
    text-align: center;
}

.fa-youtube {
    color: rgb(77, 77, 77);
}

.music {
    text-align: center;
}

.movie {
    text-align: center;
}

.youtube p {
    color: #D5D5C9;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
}

.music p {
    color: #D5D5C9;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
}

.movie p {
    color: #D5D5C9;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
}


/* final hobby */


/* skill */

.skill {
    background-color: #D5D5C9;
    width: 100%;
    height: 600px;
}

.skill h1 {
    font-size: 100px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-top: 6%;
}

.skill .skilo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
}

.skilo .ai p {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
}

.skilo .xd p {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
}

.skilo .ai {
    text-align: center;
}

.skilo .xd {
    text-align: center;
}


/* final skill */


/* homework */

.attention {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
}

.attention h1 {
    font-size: 100px;
    color: #D5D5C9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    margin-right: 5%;
}

.attention .ux {
    display: flex;
    align-items: center;
}

.attention .ux img {
    width: 25%;
    position: relative;
    margin-top: -2%;
    margin-left: 3%;
}

.attention .ux p {
    color: #D5D5C9;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    margin-left: 3%;
}

.homework {
    background-color: #D5D5C9;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.homework h1 {
    font-size: 100px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 5%;
}

.homework a {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-left: 5%;
}

.homework a:nth-child(2) {
    padding-top: 2%;
}

.homework .block_homework {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
}

.homework .block_homework h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 65, 31);
}

.homework .homework-1 img {
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.homework .homework-2 img {
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.homework .homework-3 img {
    align-items: center;
    width: 40%;
    justify-content: space-around;
    margin-top: 5%;
}

.homework .homework-4 img {
    align-items: center;
    width: 40%;
    justify-content: space-around;
    margin-top: 5%;
}


/* final homework */

.arrow {
    width: 4%;
    position: relative;
    top: 80px;
    left: 40px;
}

.project h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    color: aliceblue;
}

.block_project {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
}

.block_project h1 {
    font-size: 30px;
    text-align: center;
    color: #AA5CFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-img {
    width: 55%;
    justify-content: space-around;
    margin-top: 5%;
}

.project-img:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

@media only screen and (max-width: 1025px) {
    .menu h1 {
        font-size: 45px;
    }
    .menu ul {
        justify-content: space-between;
        width: 60%;
        font-size: 8px;
    }
    .name h1 {
        font-size: 50px;
    }
    .hobby {
        height: 700px;
    }
    .hobby h1 {
        text-align: center;
        margin: 0%;
        margin-top: 15%;
        font-size: 100px;
    }
    .skill {
        height: 700px;
    }
    .skill h1 {
        text-align: center;
        margin: 0%;
        margin-top: 15%;
        font-size: 100px;
    }
    .attention {
        height: 700px;
    }
    .attention h1 {
        text-align: center;
        margin: 0%;
        font-size: 130px;
    }
    .attention .ux {
        display: flex;
        flex-direction: column;
    }
    .attention .ux img {
        width: 50%;
        margin-top: 5%;
    }
    .homework {
        height: 1950px;
    }
    .homework h1 {
        text-align: center;
        margin: 0%;
        margin-top: 15%;
        font-size: 100px;
    }
    .block_homework {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        display: grid;
    }
    .homework-1 {
        grid-row: 1 /span 1;
        grid-column: 1 /span 1;
        margin-top: 10%;
    }
    .homework-2 {
        grid-row: 2 /span 1;
        grid-column: 1 /span 1;
        margin-top: -15%;
    }
    .homework-3 {
        grid-row: 3 /span 1;
        grid-column: 1 /span 1;
        margin-top: -55%;
    }
    .homework-4 {
        grid-row: 4 /span 1;
        grid-column: 1 /span 1;
        margin-top: 10%;
    }
    .homework .homework-1 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-2 img {
        width: 100%;
        margin-left: 50%;
        margin-top: -5%;
    }
    .homework .homework-3 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-4 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-1 h1 {
        margin-left: 55%;
        width: 100%;
        margin-top: 0%;
    }
    .homework .homework-2 h1 {
        margin-left: 55%;
        width: 100%;
        margin-top: 0%;
    }
    .homework .homework-3 h1 {
        margin-left: 55%;
        width: 100%;
        margin-top: 0%;
    }
    .homework .homework-4 h1 {
        margin-left: 55%;
        width: 100%;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 576px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu h1 {
        font-size: 40px;
    }
    .menu ul {
        justify-content: space-between;
        width: 100%;
        font-size: 8px;
    }
    .backgroundimg {
        width: 100%;
        background-position: 30% 70%;
    }
    .backgroundimg .name {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 80%;
    }
    .name h1 {
        font-size: 40px;
    }
    .name .icon {
        margin-left: 30%;
    }
    .hobby {
        height: 450px;
    }
    .hobby h1 {
        text-align: center;
        margin-top: 12%;
        font-size: 70px;
    }
    .hobo i {
        font-size: 90px;
    }
    .hobo p {
        font-size: 25px;
    }
    .skill h1 {
        margin-top: 12%;
        font-size: 70px;
        text-align: center;
    }
    .skilo .ai img {
        width: 45%;
    }
    .skilo .xd img {
        width: 55%;
    }
    .skilo .ai p {
        font-size: 25px;
    }
    .skilo .xd p {
        font-size: 25px;
    }
    .skill {
        height: 380px;
    }
    .attention h1 {
        font-size: 70px;
        text-align: center;
        margin-top: 12%;
    }
    .attention .ux {
        display: flex;
        flex-direction: column;
    }
    .attention .ux img {
        width: 40%;
        margin-top: 5%;
    }
    .attention .ux p {
        font-size: 30px;
    }
    .homework {
        height: 1150px;
    }
    .homework h1 {
        font-size: 70px;
        text-align: center;
        margin-top: 12%;
    }
    .block_homework {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        display: grid;
    }
    .homework-1 {
        grid-row: 1 /span 1;
        grid-column: 1 /span 1;
        margin-top: 10%;
    }
    .homework-2 {
        grid-row: 2 /span 1;
        grid-column: 1 /span 1;
        margin-top: -15%;
    }
    .homework-3 {
        grid-row: 3 /span 1;
        grid-column: 1 /span 1;
        margin-top: -55%;
    }
    .homework-4 {
        grid-row: 4 /span 1;
        grid-column: 1 /span 1;
        margin-top: 10%;
    }
    .homework .homework-1 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-2 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-3 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-4 img {
        width: 100%;
        margin-left: 50%;
    }
    .homework .homework-1 h1 {
        font-size: 20px;
        width: 100%;
        margin-left: 55%;
        margin-top: -3%;
    }
    .homework .homework-2 h1 {
        font-size: 20px;
        width: 100%;
        margin-left: 55%;
        margin-top: -3%;
    }
    .homework .homework-3 h1 {
        font-size: 20px;
        width: 100%;
        margin-left: 55%;
        margin-top: -3%;
    }
    .homework .homework-4 h1 {
        font-size: 20px;
        width: 100%;
        margin-left: 55%;
        margin-top: -3%;
    }
    .block_project {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        display: grid;
    }
    .project-1 {
        grid-row: 1 /span 1;
        grid-column: 1 /span 1;
    }
    .project-2 {
        grid-row: 2 /span 1;
        grid-column: 1 /span 1;
    }
    .project-3 {
        grid-row: 3 /span 1;
        grid-column: 1 /span 1;
    }
    .project-4 {
        grid-row: 4 /span 1;
        grid-column: 1 /span 1;
    }
    .project-img {
        width: 80%;
    }
}

body {
    background-color: #D5D5C9;
}