body {
    background-image: url(photo/399198.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#myForm {
    padding: 50px 400px;
}

fieldset {
    background-color: rgb(0, 0, 0);
    padding: 20px 20px 30px 20px;
    color: rgb(176, 230, 255);
    font-size: 20px;
    box-shadow: 4px 4px 16px 2px rgb(15, 15, 15);
}

legend {
    color: white;
    font-weight: bold;
    font-size: 36px;
}